.contact {
    background-color: #444;
    box-sizing: border-box;
    margin-top: 0;
    padding-top: 20px;
}

.contact-div {
    background-color: #444;
    min-height: 100vh;
}

.title-container {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.title-container p {
    font-size: 44px;
    font-weight: 700;
    color: #00F0B5;
}

.main-image {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
}

.main-image img {
    width: 40%;
    height: 150px;
}

.card {
    margin-bottom: 20px;
}

.card-img-top {
    height: 300px;
    padding: 0 80px;
    border-bottom: 1px solid #d5d7d8;
}

@media only screen and (max-width: 992px) {
    .main-image img {
        width: 90%;
    }
    .card-img-top {
        padding: 0;
    }
}; 

