.contact {
    background-color: #444;
    box-sizing: border-box;
    margin-top: 0;
    padding-top: 20px;
}

.contact-div {
    background-color: #444;
    min-height: 100vh;
}

.title-container {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.title-container p {
    font-size: 44px;
    font-weight: 700;
    color: #00F0B5;
}

.main-image {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
}

.main-image img {
    width: 40%;
    height: 150px;
}

.card {
    margin-bottom: 20px;
}

.linked {
    display: flex;
}

form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

input {
    width: 100%;
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);

    &:focus {
      border: 2px solid rgba(0, 206, 158, 1);
    }
  }

  textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);

    &:focus {
      border: 2px solid rgba(0, 206, 158, 1);
    }
  }

  label {
    margin-top: 1rem;
  }

  input[type="submit"] {
    margin-top: 2rem;
    cursor: pointer;
    background: rgb(249, 105, 14);
    color: white;
    border: none;
  }

.card-img-top {
    height: 300px;
    padding: 0 80px;
    border-bottom: 1px solid #d5d7d8;
    height: 295px;
}

@media only screen and (max-width: 992px) {
    .main-image img {
        width: 90%;
    }
    .card-img-top {
        padding: 0;
    }
}; 

